<% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<h4>User info</h4>
  <table class="table book-index">
    <thead>
      <tr>
        <%= image_tag user.get_profile_image(100,100) %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>
          <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        </th>
      </tr>
  </table>
    
      
